@{
    ViewBag.Title = "Change Password";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<div class="Wrapper">
    <div class="BoxHeader">
        <span>Account >> Change Password</span>
    </div>
    <div class="BoxContent">
          <div class="FormWrapper">               
                <div class="LineWrapper First SameLine">
                    <p>
                      Your password has been changed successfully.
                    </p> 
                </div>
        </div>
    </div>  
</div>

