@model EM_Report.Models.ResetPasswordModel

@{    
    ViewBag.Title = "Reset Password";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_MasterWithoutLogin.cshtml";
}
@using (Html.BeginForm())
{
<div class="Wrapper">
    <div class="BoxHeader">
        <span>Account >> Reset Password</span>
    </div>
    <div class="BoxContent">
          <div class="FormWrapper">               
                 @Html.Partial("_ShowMessage")
                <div class="LineWrapper First SameLine">
                     <p>
                        Enter your account information bellow and click accept.
                    </p>    
                </div>
                <div class="LineWrapper First SameLine">
                     <label >UserName or Email</label>
                     @Html.TextBoxFor(m => m.strUserNameOrEmail, new { id = "txtUserNameOrEmail", @class = "Text" })
                     @Html.ValidationMessageFor(m => m.strUserNameOrEmail)          
                </div>
        </div>
        <div class="CommandWrapper">                
            <a id="cmdAccept" class="ButtonSave" onclick="document.forms[0].submit()">Accept</a>                          
        </div>
    </div>  
</div>
}
