@model EM_Report.Models.ResetPasswordModel

@{    
    ViewBag.Title = "Reset Password Success";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_MasterWithoutLogin.cshtml";
}
<div class="Wrapper">
    <div class="BoxHeader">
        <span>Account >> Reset Password</span>
    </div>
    <div class="BoxContent">
          <div class="FormWrapper">          
                <div class="LineWrapper First SameLine">
                     <p>
                        A new password has been created and e-mailed to you.
                    </p>    
                </div>
                <div class="LineWrapper First SameLine">
                    <p>
                        Click <a style="color:#0669AF" href="@VirtualPathUtility.ToAbsolute("~/account/login")">here</a> to login with your new password.
                    </p>            
                </div>
        </div>        
    </div>  
</div>