<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="EM_ReportConnectionString" connectionString="Data Source=ASWLAP04;Initial Catalog=EM_Report;Persist Security Info=True;User ID=emreport;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="EM_ReportingConnectionString" connectionString="Data Source=ASWLAP04;Initial Catalog=EM_Reporting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EM_ReportConnectionString2" connectionString="Data Source=ASWLAP11;Initial Catalog=EM_Report;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="EM_ReportConnectionString1" connectionString="Data Source=ASWLAP11;Initial Catalog=EM_Report;Persist Security Info=True;User ID=sa;Password=Sql@dmin"
            providerName="System.Data.SqlClient" />
        <add name="EM_ReportingConnectionString1" connectionString="Data Source=10.9.0.21;Initial Catalog=EM_Reporting;Persist Security Info=True;User ID=vnteam;Password=vnteam"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>