@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<div class="BoxHeader">
    <span>Error</span>
</div>
<div class="BoxContent">               
    <div class="FormWrapper">  
        <div class="LineWrapper First SameLine">
            <p class="ErrorBox">
                 @EM_Report.BLL.Resources.Resource.msg404
            </p>  
        </div>
    </div>
</div

