<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EM_ReportConnectionString" connectionString="Data Source=10.9.0.21;Initial Catalog=Dart;Persist Security Info=True;User ID=vnteam;Password=vnteam"
      providerName="System.Data.SqlClient" />
    <add name="hemprodConnectionString" connectionString="Data Source=aswsyddev01;Initial Catalog=hemprod;User ID=vnteam"
      providerName="System.Data.SqlClient" />
    <add name="hemprod_april_2014ConnectionString" connectionString="Data Source=10.9.0.21;Initial Catalog=hemprod_april_2014;Persist Security Info=True;User ID=vnteam;Password=vnteam"
      providerName="System.Data.SqlClient" />
    <add name="DartEntities" connectionString="metadata=res://*/ProjectionDataModel.csdl|res://*/ProjectionDataModel.ssdl|res://*/ProjectionDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.9.0.21;initial catalog=Dart;persist security info=True;user id=vnteam;password=vnteam;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DartContext" connectionString="Data Source=10.9.0.21;Initial Catalog=Dart;Persist Security Info=True;User ID=vnteam;Password=vnteam;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>