<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordAllowedChars" value="abcdefghijkmnopqrstuvwxyzABCDEFGHJKLMNOPQRSTUVWXYZ0123456789!@$?_-" />
  <!--site settings-->
  <add key="usertypes" value="System,Internal,External" />
  <add key="pagesizes" value="10,20,50" />
  <add key="IsNeedByPassCertificate" value="true" />
  <!--site settings-->
  <add key="HelpFile" value="/dart/Datas/Pilot_DB_Training_Pack.ppt" />  
  <!-- Authentication -->
  <add key="LoginType" value="Internal" />
  <add key="DomainList" value="aswigsyd.int,dvnaswig.local" />
  <!-- File Cabinet -->
  <add key="FileCabinetRoot" value="\\dvnapp06\FileCabinet" />
  <!-- Data Importing -->
  <add key="ImportingDataFolder" value="\\dvnapp06\ImportingData" />  
  
  <add key="ReportServerDomain" value="dvnapp07.dvnaswig.local" />
  <add key="ReportServerUrl" value="https://dvnapp07.dvnaswig.local/ReportServer" />
  <add key="ReportServicePath2010" value="/reportservice2010.asmx" />
  <add key="ReportPathPrefix" value="/EMReporting/Reports/" />
  <add key="WCFEndpointAddress" value="https://localhost/dart.service/Actionservice.svc"/>
</appSettings>