@{
    ViewBag.Title = "Change Password";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Master.cshtml";
}
<div class="wrapper">
    <!-- HEADER -->
    <div class="header"></div>
    <!-- HEADER END -->
    <div class="container">
    	<div class="w_100p">
            @using (Html.BeginForm())
            {  
            <div class="formWrap">
            	<h1>Change Password Success</h1>
                <hr /><br />
                <div class="formInline formInlineTxt">
                	<p>Your password has been changed successfully</p>
                </div>
                <div class="clear"></div>
            </div>
            }
        </div>
    </div>
</div>