@model EM_Report.Domain.RequestResetPassword

@{
    ViewBag.Title = "Reset Password";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_MasterWithoutLogin.cshtml";
}
<div class="wrapper">
    <div class="header">
        <div class="breadcrum_01">
            <a href="#">Account</a>
            <a href="#">Reset password</a>
            <a href="#" class="current">Request Reset Password</a>
        </div>
    </div>
    <div class="container">
        <div class="w_100p">
            @using (Html.BeginForm())
            {
                <div class="formWrap">
                    <h1>Confirmation</h1>
                    <hr /><br />
                    <div class="formInline formInlineTxt">
                        <p>
                            You have requested to reset your password. Please check and follow your email's instruction.
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            }
        </div>
    </div>
</div>