<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DartEF" connectionString="TDaXIfua1Jx/WzdHs/vb6b06nuyJk8+we0e8gzLAvx7NymiPbUPC/pXxZ9qbYRz8OJZGo7NsiARkX+O+PckDO+FJTE4n/94UDZZKv9uC8LhIlpMgKbUYjIU73C9lzF3fO2Wy0R6T4/DSooCWOlSv20kqpzfsMtW4+9p7OMIGJWvbdNoZ0Y1Kz2VDEbinGTFBGchx1/QNL8x0doRO09RKx7ZNhZ2tLZi+tD0EySyUXyhJxfxivV1vyov0/SQw9PN7j19odGjzVg4WcfGtgWBR+tLt6jn6yD7CKsjvfB5m+04TrT/K1GH+CRsggZ5UJ+eb9YNsJ3eTz/klM2GCyGF6kw==#####" providerName="System.Data.EntityClient" />
  <!-- Unencrypted -->
  <!--<add name="DartEF" connectionString="metadata=res://*/DartDB.csdl|res://*/DartDB.ssdl|res://*/DartDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.9.11.13;initial catalog=Dart_15072015;user id=dart;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
</connectionStrings>