<?xml version="1.0"?>
<client>
  <!-- this endpoint has an https: address -->
  <endpoint name="reliableSessionOverHttps"
            address="https://localhost/dart.service/Actionservice.svc"
            binding="customBinding"
            bindingConfiguration="reliableSessionOverHttps"
            contract="ActionServiceReference.IActionService" />
</client>