@using EM_Report.Repositories
@{
    string url = "~/Reports/Dashboards/CPRDashboardReport.aspx";

    var controlRepo = new CONTROLRepository();
    var control = controlRepo.GetByType(Request.QueryString["System"]);
    var cutOffDate = DateTime.Today;
    if(control != null)
    {
        var value = control.Value.Split('/');
        cutOffDate = new DateTime(int.Parse(value[2]), int.Parse(value[1]), int.Parse(value[0]));
    }
    var yesterdayDate = cutOffDate.AddDays(-1);
    var last2WeeksDate = yesterdayDate.AddDays(-14);

    var lastMonthDate = cutOffDate.AddMonths(-1);
    var lastMonthFirstDate = new DateTime(lastMonthDate.Year, lastMonthDate.Month, 1);
    var lastMonthEndDate = lastMonthFirstDate.AddMonths(1).AddDays(-1);

    string strQuery = "";
    foreach (String key in Request.QueryString.AllKeys)
    {
        strQuery = strQuery + "&" + key + "=" + Request.QueryString[key];
    }
    strQuery = "?" + strQuery.TrimStart('&');
    url = url + strQuery;

    var weekUrl = url + "&Start_Date=" + last2WeeksDate.ToString("dd/MM/yyyy") + "&End_Date=" + yesterdayDate.ToString("dd/MM/yyyy") + "&View_Type=last_two_weeks";
    //var monthUrl = url + "&Start_Date=" + lastMonthFirstDate.ToString("dd/MM/yyyy") + "&End_Date=" + lastMonthEndDate.ToString("dd/MM/yyyy");
}

<div id="ifReportCover_week">
    <iframe id="ifReport_week" src="@Url.Content(@weekUrl)" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
</div>

<div id="ifReportCover_month" style="display: none">
</div>
