<div id="CPRViewType" class="CPRformInline" style="float:right; width:31%;">
@{
    if (((string)(ViewBag.ReportPath)).ToLower().Contains("cpr"))
    {
        Dictionary<string, string> viewTypeList = new Dictionary<string, string>();
        viewTypeList.Add("week", "Last 2 weeks");
        var firstDayOfLastMonth = (new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1)).AddMonths(-1);
        var lastDayOfLastMonth = firstDayOfLastMonth.AddMonths(1).AddDays(-1);
        viewTypeList.Add("month", firstDayOfLastMonth.ToString("dd MMM yyyy") + " to " + lastDayOfLastMonth.ToString("dd MMM yyyy"));
        viewTypeList.Add("advance_option", "Advanced Options");
        
        SelectList viewTypeSelectList = new SelectList(viewTypeList, "key", "value", "week");
        <table style="float:right; margin-right: 20px;">
            <tr>
                <td style="margin-right: 10px;">                
                    <label>CPR View Type</label>
                </td>
                <td style="float:right; margin-right: 10px;">
                    @Html.DropDownList("CPRViewType", viewTypeSelectList, new { id = "cboCPRViewType" })
                </td>                
            </tr>
        </table>
    }
}
</div>

<script type="text/javascript">
    $(document).ready(function () {                

        $(".sbHolder").css("width", "150px!important");
        $(".formInline .sbHolder").css("width", "150px!important");
        $("#cboCPRViewType").next('div').find(".sbOptions").css("width", "150px !important");

        if (document.URL.toLowerCase().indexOf('port') < 0) {
            $(".CPRformInline").hide();
        }        
        
        if (document.URL.toLowerCase().indexOf('cpr') >= 1)
        {
            var value = $('#dateCutOff', window.parent.document).val().split('/');
            var dateCutOff = new Date(value[2], value[1] - 1, 1);

            dateCutOff.setMonth(dateCutOff.getMonth() - 1);
            var startDate = new Date(dateCutOff.getFullYear(), dateCutOff.getMonth(), 1).format("dd MMM yyyy");
            var endDate = new Date(dateCutOff.getFullYear(), dateCutOff.getMonth() + 1, 0).format("dd MMM yyyy");

            var e = document.getElementById("cboCPRViewType");
            var getText = e.options[1].text;
            e.options[1].text = startDate + " to " + endDate;
        }
        

    });
</script>