#tbWrapper_User tr
{
   height:20px;
}
.center
{
    text-align:center !important;
}
.right
{
    text-align:right !important;
}
.action
{
    text-align:center !important;
    cursor:default !important;
}
.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url("../../images/hem/ui-icons_256x240.png")/*{iconsContent}*/;
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}
.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}
.css_right {
	float: right;
}

.css_left {
	float: left;
}
.clear {
	clear: both;
}
