/***************************************************************
	General
****************************************************************/
input[type="file"] {outline:none; width:320px; font-family:Verdana, Arial, "Times New Roman", sans-serif; font-size:11px; line-height:12px; color:#999; margin-top: 0px;}
/***************************************************************
	SignIn
****************************************************************/
.signInForm input.rememberme {width: 15px; display: inline; position: relative; top: 10px; border: none; background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.signInForm p { margin-top: -15px; vertical-align: top;}

/***************************************************************
	FORM
****************************************************************/
.formInline {width: 85%;}
.formInline input.username {border:solid 1px #dfdfdf; line-height:28px; margin: 0 0 0 10px; outline:none; height: 20px; -moz-box-shadow:0px 0px 1px #FFF; -webkit-box-shadow:0px 0px 1px #FFF; box-shadow:0px 0px 1px #FFF; -webkit-border-radius:px; -moz-border-radius:4px; border-radius:4px; color:#999; text-shadow:1px 1px 1px rgba(255, 255, 255, 1);}
.formInline td {vertical-align: top;}
.formInlineBtn { width: 70%; margin:15px 0 0; position: relative; left: 215px;}

/***************************************************************
	Structure
****************************************************************/
.logo {padding-bottom:20px !important; *padding-bottom: 25px !important;}
.logo_Emp {padding-bottom:10px !important; *padding-bottom: 15px !important;}
.breadcrum_01 { min-width: 900px; }
.breadcrum_01 a.current:hover {cursor: default;}
.breadcrum_02 { *padding-bottom: 0px; min-width: 950px; *min-height: 18px; }
.breadcrum_02 a { display: inline-block; background:url(../images/ico_breadcrum_02.png) no-repeat 0 4px; }
.breadcrum_02 a.lookahead {color: #A6AAAA; }
.breadcrum_02 a.lookahead:hover {color: #A6AAAA; }
.traffic {min-width: 910px;}
.trafficContents {min-width: 880px;}
.trafficText {float:right; width:220px; position:relative;}

#guidebarbox { margin-top: -8px; padding-top: 2px; }
a.trafficIcon { padding-top: 3px !important; margin-right: 10px !important; margin-top:-3px ; margin-bottom: 0; position: relative; top: -1px; }
a.bookmark { padding-top: 3px !important; margin-top:-2px !important; position: relative; top: -1px; }

.top { min-width: 900px; }

.container { min-width: 970px; width:97.90% !important; }

.tbl thead td { font-size: 12px; }
.tbl thead td span { float:right; }
.tbl tbody td .frmShdwTopLt { margin-left: 50px !important;}
.tbl tr.err {background:#A8B1B7; color:#FFF;}
.tbl td.err {background:#FF5151; color:#FFF;}

.tbl thead th.first {-webkit-border-top-left-radius:5px; -moz-border-radius-topleft:5px; border-top-left-radius:5px;}
.tbl thead th {font-family:'lato_regular', Arial, Helvetica, sans-serif; font-size:10px; text-transform:uppercase; color:#037BAF; background:#edecec url(../images/thead_bg.png) repeat-x 0 0 !important;}
.tbl th {border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1; font-size:11px;}

.sbHolder
{
    left:10px;
}

.frmShdwTopRt .Text
{
    padding-top:2px;
}

.sortContent li div {margin-bottom: 10px;}
.sortContent li div a {font-size: 15px;}
.sortContent li a {background:url(../images/bullet_01.png) no-repeat 0 6px; padding:0 0 0 10px; display:block;}

.col_7 {width:7%;}

/***************************************************************
	TABS
****************************************************************/
.tab li { padding-left: 0 !important; padding-right: 0 !important; }
.tab li a { font-size: 17px; padding: 10px 10px; }
.tab li.tab_current:hover { cursor: default; }
.tab li.tab_current:hover > a { color:#037baf; }

.ui-tabs .ui-tabs-hide { display: none !important; }

/***************************************************************
	VALIDATIONS
****************************************************************/
.error {	
	color: #a20000;
	position: relative;
	top: 4px;
	left: 25px;
}

.input-validation-error {
	background-color: #FFEEEE;
}

.validation-error-box {
	background-color: #FFEEEE;
	border: 1px solid #FF0000;
}

.field-validation-error {
	color: Red;
	right: 0px;
	position: relative;
	left: 4px;
	top: 4px;
}

.signInForm .field-validation-error
{
	top: -52px;
	float: right;
	left: 14px;
}

.formResetPassword .field-validation-error {
	top: -2px;
}

.formReportDetails .field-validation-error {
	top: 6px;
	*top: 6px;
}
.txtWarning {
    padding-left: 3px;
}
.reveal-modal h2 {
    border-bottom: 1px solid #E1E1E1;
    color: #037BAF;
    font-family: 'lato_regular',Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.Button a {cursor:pointer;}
.col_center {text-align:center;}

/***************************************************************
	PAGING
****************************************************************/
.Paging a {cursor: pointer;}

.Paging a.Disable { color:#A8A8A8; cursor:default;}

/***************************************************************
    MODAL DIALOG - OVERLAY
****************************************************************/
.Overlay {
	background-color: #fff;
	display: none;
	color:#000;
	padding: 10px;
	width: 750px;   
	border-radius: 5px 5px 5px 5px;
}

	.Overlay .BoxHeader {
		height: auto;
		min-height: 50px;
		padding: 10px;
	}
	
	.Overlay .BoxHeader .SearchInput {
		margin: 0;
	}
		
	.Overlay .BoxHeader label {
		width: 140px;
		display: inline-block;
	}
		
	.Overlay .BoxHeader input.Popup 
	{
		font-size: 1.2em;
		width: 175px;
		margin: 5px 0px 2px 0px;
	}
		
	.Overlay .BoxContent {
		max-height: 750px;
		overflow: hidden;
	}
	
/***************************************************************
TRAFFIC LIGHT
****************************************************************/

.trafficSelectContent
	{
	    width:120px;
	    text-indent:5px;
	}	

.Hide {
    visibility: hidden;
    display: none;
	margin-top: 0;
}

/***************************************************************
 MESSAGE
****************************************************************/
.txtSuccess {/*background:#853f97;*/ background:#23a3db; color:#FFF; font-size:13px; margin:15px 0 10px 215px !important; padding:5px 15px; width:305px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.txtFail {background:#EF3D00; color:#FFF; font-size:13px; margin:15px 0 10px 215px !important; padding:5px 15px; width:305px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.closePopup{background:url(../images/ico_close.png) no-repeat right 0; width:12px; height:13px; right:20px; text-indent:9999px; cursor:pointer; display:block; margin:0; clear:both; position:absolute; top:23px;}
.exportExcel{ background:url(../images/ico_excel.png) no-repeat right 0; width:12px; height:14px; right:50px; text-indent:9999px; cursor:pointer; display:block; margin:0; clear:both; position:absolute; top:20px; }
.printRawData{ background:url(../images/ico_print.png) no-repeat right 0; width:12px; height:14px; right:80px; text-indent:9999px; cursor:pointer; display:block; margin:0; clear:both; position:absolute; top:18px; }
.printPortRawData{ background:url(../images/ico_print.png) no-repeat right 0; width:12px; height:14px; right:40px; text-indent:9999px; cursor:pointer; display:block; margin:0; clear:both; position:absolute; top:12px; }

/***************************************************************
 IMPORTING TEMPLATE
****************************************************************/
.linkImport {font-size:13px; padding:0; display:block;}
.linkImport img {vertical-align:text-bottom;}
.viewImport {cursor:pointer; float:right; position:relative;}
	.viewImportContent {position:absolute; top:35px; right:0px; background:url(../images/pixel_000_70.png) repeat; height:420px; width:800px; padding:7px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; display:none;}
	.viewImportContent h1 {color:#4fb8e7;}
	.viewImportContent p {color:#EEE; font-weight:normal;}
	.viewImportContent img {width:100%; height:99.99%}
	.viewImportContent .close {position:absolute; top:7px; right:7px;}
	
/***************************************************************
 RAW DATA
****************************************************************/
.viewRawData .reveal-modal { position: fixed; padding: 0px; width: 90%; margin-left: 10px}
.viewRawDataContent { background-attachment:scroll; position:fixed; top:45px!important; right:15px !important; z-index:9999 !important; background:url(../images/pixel_000_70.png) repeat 0 0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; min-width:350px; display:none; margin: auto; width: 500px}
.viewRawDataContent table th {background:#037baf !important; color:#FFF; padding:5px 7px; font-size:12px; font-weight:normal; text-transform:uppercase; border:1px solid #3595bf; border-left:none; border-top:none; text-align:left;}
.viewRawDataContent .tab li a { font-size: 18px }

/***************************************************************
 GRAPH DESCRIPTION
****************************************************************/
.viewDesc {cursor:pointer;}
	.viewDescContent {position:absolute; background:url(../images/pixel_000_70.png) repeat; width:350px; padding:10px 15px 5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; display:none; background-color:White}
	.viewDescContent p {color:#EEE; font-weight:normal;}
	.viewDescContent h1 {color:#4fb8e7;}	

	.viewAllDescContent {position:absolute; background:url(../images/pixel_000_70.png) repeat; width:350px; padding:10px 15px 5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; display:none;}
	.viewAllDescContent p {color:#EEE; font-weight:normal;}
	.viewAllDescContent h1 {color:#4fb8e7;}
			
/**************************************************************
PORTFOLIO
**************************************************************/
	.portfolioParameterSection {clear:both; background:#FFF;  width:75%; padding:15px; margin:15px 0px 0px 215px; border:1px solid #E1E1E1;}
		.portfolioParameterSection table {width:102%;}
		.portfolioParameterSection table td {font-size:12px;}
		.portfolioParameterSection table input[type="text"] {width:200px; padding:3px; color:#4B4B4B; font-size:12px;}
		.portfolioParameterSection .addTextbox input[type="text"]{width:270px;}
		.portfolioParameterSection .addTextbox input[type="button"]{padding: 0 9px; width:42px;}
		.portfolioParameterSection .addTextbox .frmShdwTopLt{margin-left: 5px !important}
		.portfolioParameterSection table select {width:210px;}
		.portfolioParameterSection a.show {background:url("../images/ico_breadcrum_01.png") no-repeat scroll 0 4px transparent; display:block; color:#037BAF; font-size:15px; float:left; margin:0 0 7px; padding:0 0 5px 15px;}
		.portfolioParameterSection .favourButton {padding-left:15px;}
		.showOrg {margin:0px 0 0; padding:0;}
		.showOrgItems {margin:0 0 7px; border-bottom:1px solid #EEE; padding:0 0 3px;}
		.portfolioParameterSection .sbHolder {width:210px}			
	    .portfolioParameterSection .sbHolder .sbOptions{width:210px} 
	    .portfolioParameterSection .sbHolder .sbSelector	{width:200px}
	
	.totalCellHover { background-color: #037baf }
	.totalCellHover div { color: White }
	
/**************************************************************
CABINET
**************************************************************/
.viewCabinet {z-index:99 !important;}
.viewCabinet .reveal-modal { position: fixed; }
		    .viewCabinetContent { background-attachment:scroll; position:fixed; right:15px !important; z-index:9999 !important; background:url(../images/pixel_000_70.png) repeat 0 0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:10px; min-width:350px; display:none; margin: auto; width: 500px}
			.viewCabinetBtn {text-align:right;}
			.viewCabinetContent table {margin:10px 0 5px; border-collapse: collapse; background:#FFF; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; width:100%;}
			.viewCabinetContent table th {background:#037baf; color:#FFF; padding:5px 7px; font-size:12px; font-weight:normal; text-transform:uppercase; border:1px solid #3595bf; border-left:none; border-top:none; text-align:left;}
			.viewCabinetContent table tr.odd {background:#FFF;}
			.viewCabinetContent table tr.even {background:#FAFAFA;}
			.viewCabinetContent table td {border:1px solid #e1e1e1; border-top:none; font-size:11px;}
a.file-cabinet {float: right; height: 6px; background:url(../images/icon_cabinet_file.png) no-repeat 0 3px!important; color:#ffc001; padding:7px 0 10px 22px !important; margin-top: -30px;}
/**************************************************************
CONFIRMATION POPUP
**************************************************************/ 
.confirmationPopup {z-index:99 !important;}
.confirmationPopup .reveal-modal { position: fixed; width: 100px}
		    .confirmationPopupContent { background-attachment:scroll; position:fixed; top:200px!important; right:15px !important; z-index:9999 !important; background:url(../images/pixel_000_70.png) repeat 0 0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:10px; min-width:350px; display:none; margin: auto; width: 500px}
		    .confirmationPopupContent input[type="button"] { width: 50px }
	
/***************************************************************
 FRIENDLY PRINTING
****************************************************************/
.print_icon {float:right; margin:2px 0 0;padding:0 0 0 5px; vertical-align:top; cursor: pointer;}
.viewPrint {z-index:99 !important;}
.viewPrint .reveal-modal { position: fixed;}
.viewPrintContent {height:500px; background-attachment:scroll; position:fixed; top:45px!important; right:15px !important; z-index:9999 !important; background:url(../images/pixel_000_70.png) repeat 0 0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; min-width:350px; display:none; margin: auto; padding: 0px 0px 20px 0px !important}
.viewPrintContent .print_action { line-height: 1; position: absolute; top: 8px; right: 40px; cursor: pointer; display: block; }
.viewPrintContent .printContent { width: 100%; margin-bottom: 10px; position: relative; top: 35px; background-color: #fff !important; }

.viewPrintPopupContent .print_action { line-height: 1; float: right; margin-top: -30px; margin-right: 10px; cursor: pointer; display: block; }
.viewPrintPopupContent .logo { margin-top: 40px; }

.printPage { overflow: auto; width: 100%; }
.printPage > img { margin-top: -1px; }

/***************************************************************
 CPR DASHBOARD
****************************************************************/
.CPRformInline {margin:15px 0 20px 0; *padding:0 0 15px; *margin:0 0 10px;}
.CPRformInline label {float:left; padding:0 15px 0 20px; margin:0; width:170px; text-align:right;}
.CPRformInline td {font-size:12px;}
.CPRformInline .sbHolder {width:170px;}
.CPRformInline .sbOptions {width:170px;}
.CPRformInline .sbSelector {width:170px;}

/***************************************************************
 CPR TOTAL CLAIMS CHECKING
****************************************************************/
.totalclaims-check {
    float:left; 
    color: #0026ff;
    display: none;
    margin: 10px 0 0 10px;
}

.totalclaims-check .totalclaims-check-message {
    font-weight: bold;
}

.totalclaims-check-error {
	color: #a20000;
}