ul.BoxHeader li {
   margin-right:0 !important;
}
ul.BoxHeader li:hover
{   
    border:none !important;
   -moz-box-shadow: none !important; 
	-webkit-box-shadow: none !important; 
	box-shadow:  none !important; 
   -moz-border-radius-bottomleft: 0px !important/*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 0px !important/*{cornerRadius}*/;
    border-bottom-left-radius: 0px !important/*{cornerRadius}*/;
    -moz-border-radius-bottomright: 0px !important/*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 0px !important/*{cornerRadius}*/;
    border-bottom-right-radius: 0px !important/*{cornerRadius}*/;
}
ul.BoxHeader li:focus {
   border:none !important;
   -moz-box-shadow: none !important; 
	-webkit-box-shadow: none !important; 
	box-shadow:  none !important; 
   -moz-border-radius-bottomleft: 0px !important/*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 0px !important/*{cornerRadius}*/;
    border-bottom-left-radius: 0px !important/*{cornerRadius}*/;
    -moz-border-radius-bottomright: 0px !important/*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 0px !important/*{cornerRadius}*/;
    border-bottom-right-radius: 0px !important/*{cornerRadius}*/;
}
ul.BoxHeader li:active {
   border:none !important;
   -moz-box-shadow: none !important; 
	-webkit-box-shadow: none !important; 
	box-shadow:  none !important;
   -moz-border-radius-bottomleft: 0px !important/*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 0px !important/*{cornerRadius}*/;
    border-bottom-left-radius: 0px !important/*{cornerRadius}*/;
    -moz-border-radius-bottomright: 0px !important/*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 0px !important/*{cornerRadius}*/;
    border-bottom-right-radius: 0px !important/*{cornerRadius}*/;
}
ul.BoxHeader li a {
   padding: 0 !important;
}

.FormWrapper ul li {  
   background: none !important;
}

.ui-widget-content {
    background: none !important;
}
.ui-corner-all
{
    border-radius:0 !important;
    -webkit-border-radius:0 !important;
    -moz-border-radius: 0 !important;
}
.ui-tabs .ui-tabs-nav li
{
    top: 0 !important;
    border: none !important;
}
.level-list
{
    padding: 0 !important;
    background-color:#037baf !important;
    width: auto;
    min-height: 35px;
    height: auto;
    position: relative;
}
.level-list li a, label {color:#c5edfe; height:35px; display:inline-block; padding:0 35px 0 20px; line-height:35px;}
.level-list label {background:url(../images/sort_n.png) no-repeat right 0;}

.level-arrow-select-left
{
    float:left !important;
    display: inline-block; padding: 0 10px 0 10px !important; width: 60px; height: 35px !important;
    background:url(../images/sort_o.png) no-repeat right 0;
    font-weight: bold;
    text-transform: uppercase;
}
.level-arrow-select-left:hover
{
    background:url(../images/sort_o.png) no-repeat right 0; color:#FFF;
}
.level-arrow-select-right
{   
    float:left !important;
    display: inline-block;padding: 0 10px 0 10px !important;  width: 60px; height: 35px !important;
    border:none !important;
    background:url(../images/sort_n.png) no-repeat right 0;
}
.level-arrow-select-right:hover
{
    background:url(../images/sort_o.png) no-repeat right 0; color:#FFF;
}
.level-arrow
{   
    float:left !important;
    display: inline-block;padding: 0 10px 0 10px !important; width: 60px; height: 35px !important;
    border:none !important;
    background:url(../images/sort_n.png) no-repeat right 0;
}
.level-arrow:hover
{
    background:url(../images/sort_o.png) no-repeat right 0;color:#FFF;
}
.level-arrow-last
{
    display: inline-block; padding: 0 10px 0 10px !important; height: 35px !important;
    border:none !important;
}
.level-arrow-first
{
    float:left !important;
    display: inline-block;padding: 0 10px 0 10px !important;
    height: 35px;
    border:none !important;
}
.level-role-title
{
    margin-top: 10px;
    padding-bottom:30px !important;
    width:370px !important;
    border-bottom: 1px solid #4ab2d6 !important;
}
.level-role
{
    width:350px;
    padding:5px 0px 5px 20px;
    border-bottom: 1px solid #4ab2d6 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    color:Black;
}
.level-role-title a
{
    font-size:1.4em;
    color:#4ab2d6 !important;
}
.level-list li:first-child
{
    margin-left:40px !important;
}