<?xml version="1.0"?>
<connectionStrings>
  <add name="EM_ReportConnectionString" connectionString="Data Source=10.9.0.21;Initial Catalog=EM_Reporting;Persist Security Info=True;User ID=vnteam;Password=vnteam" providerName="System.Data.SqlClient"/> 
  <add name="RS_ConnectionString" connectionString="Data Source=10.9.0.21;Initial Catalog=emiprod;User ID=vnteam;Password=vnteam" providerName="System.Data.SqlClient"/>
</connectionStrings>
