<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="AuditDictionary" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EM_Report.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="bin\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <AuditDictionary>
    <add key="Users" value="Users" />
    <add key="Reports" value="Reports" />
    <add key="Report Categories" value="ReportCategories" />
    <add key="External Groups" value="ExternalGroups" />
    <add key="Organisation Roles" value="OrganisationRoles" />
    <add key="Organisation Role Levels" value="OrganisationRoleLevels" />
    <add key="Report External Access" value="ReportExternalAccess" />
    <add key="Report Organisation Roles" value="ReportOrganisationRoles" />
    <add key="Subscriptions" value="Subscriptions" />
    <add key="System Role Permissions" value="SystemRolePermissions" />
    <add key="Teams" value="Teams" />
  </AuditDictionary>
  <connectionStrings configSource="credentials.config">
  </connectionStrings>
  <appSettings>
    <add key="ReportParamTemplate" value="D:\Working\ecommerce\em-reporting\trunk\WebAppProject\EM_Report\Templates\reportparameters.xml" />
    <add key="SiteAlias" value="emreporting" />
    <add key="Site" value="EML" />
    <!--values: EML, TMF, HEM, -->
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PassWordSalt" value="C3FCD3D76192E4007DFB496CCA67E13B" />

    <add key="ReportServerUrl" value="http://aswsyddev01/reportserver"/>

    <add key="ReportServicePath" value="/reportservice2005.asmx"/>

    <add key="MainSSRSAccount_Domain" value="ASWSYDDEV01"/>
    <add key="MainSSRSAccount_UserName" value="reportadmin"/>
    <add key="MainSSRSAccount_Password" value="!QAZ@WSX"/>
   
    <add key="ExportDriver" value="\\Aswvnapp01\tmf\" />
    <add key="ReportPathPrefix" value="/EMReporting/Reports/" />
    
    <add key="PasswordAllowedChars" value="abcdefghijkmnopqrstuvwxyzABCDEFGHJKLMNOPQRSTUVWXYZ0123456789!@$?_-" />
    <add key="MailFrom" value="user5@hollywood.int" />
    <add key="MailHost" value="10.9.0.22" />
    <add key="MailResetPasswordSubject" value="Your Reset Password" />
    <add key="MailResetPasswordBody" value="Hi [FullName], Your password has been reset from aswigit.com report system.          Your new password: [NewPassWord]          Please click on the following link to login and change password: http://localhost:54093/account/login          Login: [UserName]" />
    <add key="MailNewAccountSubject" value="New Account On ASWIGIT.COM Report System" />
    <add key="MailNewAccountBody" value="Hi [FullName], You have been created a new account on aswigit.com report system.          Login: [UserName]          Password: [Password]          Please click on the following link to login and change password: http://localhost:54093/account/login" />
    <add key="No_Limit_Login_Attempts" value="3" />
    <add key="No_Days_Blocked_Attempts" value="1" />
    <!--site settings-->
    <add key="pagesizes" value="10,20,50" />
    <add key="Top_Favorite" value="3" />
    <add key="Top_Recently" value="3" />
    <add key="Top_Category" value="3" />
    <add key="LeftNavigation_MaxLength" value="23" />
    <add key="LoadingReportTimeout" value="180000"/> <!-- 3*60*1000 -->
    <!--site settings-->
  </appSettings>
  <system.web>
    <globalization uiCulture="en" culture="en-AU" />
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add tagPrefix="uc1" src="~/EMReports/UserControls/CustomTime.ascx" tagName="CustomTime" />
      </controls>
    </pages>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/error/error_404" />
      <error statusCode="500" redirect="~/error/error_500" />
    </customErrors>
    <authentication mode="Forms" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ReportViewerWebControlHandler"></remove>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.htm" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <EM_Report.Properties.Settings>
      <setting name="EM_Report_RS2005_ReportingService2005" serializeAs="String">
        <value>http://aswsyddev01:80/ReportServer/ReportService2005.asmx</value>
      </setting>
      <setting name="EM_Report_RSExecution2005_ReportExecutionService" serializeAs="String">
        <value>http://aswsyddev01:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </EM_Report.Properties.Settings>
  </applicationSettings>
</configuration>