<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ReportServerDomain" value="aswvnsql01.aswigsyd.int"/>
    <add key="ReportServerUrl" value="https://aswvnsql01.aswigsyd.int/ReportServer"/>
    <add key="ReportServicePath" value="/reportservice2005.asmx"/>
    <add key="ReportServicePath2010" value="/reportservice2010.asmx"/>
    <add key="ReportPathPrefix" value="/EMReporting/Reports/" />
    <add key="PassWordSalt" value="C3FCD3D76192E4007DFB496CCA67E13B" />
    <add key="MailFrom" value="user5@hollywood.int" />
    <add key="MailHost" value="10.9.0.22" />
    <add key="MailResetPasswordSubject" value="Your Reset Password" />
    <add key="MailResetPasswordBody" value="Hi [FullName], Your password has been reset from Employers Mutual Report System.           Login: [UserName]     Your new password: [NewPassWord]          Please login again to change your password" />
    <add key="MailNewAccountSubject" value="New Account On Employers Mutual Report System" />
    <add key="MailNewAccountBody" value="Hi [FullName], You have been created a new account on Employers Mutual Report System.         Login: [UserName]          Password: [Password]        Please login again to change your password"/>    
  </appSettings>
  <!-- 
      Connection string settings 
    -->
  <connectionStrings configSource="credentials.config"></connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.0">
    </compilation>

    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <sessionState  mode="InProc" timeout="30" />
  </system.web>

  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
	  <diagnostics>
		  <messageLogging
				  logEntireMessage="false"
				  logMalformedMessages="true"
				  logMessagesAtServiceLevel="true"
				  logMessagesAtTransportLevel="false"
				  maxMessagesToLog="500"
				  maxSizeOfMessageToLog="5000"/>
	  </diagnostics>
	  
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service
          name="EM_Report.Service.ServiceImplementations.ActionService"
          behaviorConfiguration="ReportServiceBehavior">
        <!-- use base address provided by host -->
        <endpoint address=""
                  binding="customBinding"
                  bindingConfiguration="reliableSessionOverHttps"
                  contract="EM_Report.Service.ServiceContracts.IActionService" />        
        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
      <customBinding>
        <binding name="reliableSessionOverHttps" closeTimeout="24:00:00" openTimeout="24:00:00" receiveTimeout="24:00:00" sendTimeout="24:00:00">
          <reliableSession />
          <httpsTransport maxReceivedMessageSize="2097152"
                        maxBufferSize="2097152"
                        maxBufferPoolSize="2097152" />
        </binding>
      </customBinding>
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReportServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
