@model EM_Report.Domain.ResetPassword

@{
    ViewBag.Title = "Reset Password Success";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_MasterWithoutLogin.cshtml";
}
<div class="wrapper">
    <div class="header">
        <div class="breadcrum_01">
            <a href="#">Account</a>
            <a href="#">Reset Password</a>
            <a href="#" class="current">Reset Password Success</a>
        </div>
    </div>
    <div class="container">
        <div class="w_100p">
            @using (Html.BeginForm())
            {
                <div class="formWrap">
                    <h1>Confirmation</h1>
                    <hr /><br />
                    <div class="formInline formInlineTxt">
                        <p>
                            Your new password has been updated successfully.
                            Please log into DART and change it if you wish.
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            }
        </div>
    </div>
</div>