
@using EM_Report.Models.RS2005
@using EM_Report.Helpers
@{
    Layout = null;
}


<label id="msgSendMailSuccess" class="information"></label>
<input id="ReportParameterValue" type="hidden" value="" name="ReportParameterValue" />
<div class="LineWrapper SameLine">
    <label>Report Format</label>
    <div class="WrapperSelectBox SelectForm">
        <select id="format" name="format" class="form-field dropdown-parameter">
            @foreach (SelectListItem item in ViewBag.RenderFormats)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
</div>    
<div class="LineWrapper SameLine">
    <label><span title="multiple email: separate by ;">To...</span></label>
    <input id="txtMailTo" name="toEmail" type="Text" class="Text" title="multiple email: separate by ;" 
        data-val-required="The ToEmail field is required." 
        data-val-regex-pattern="^(([a-zA-Z0-9_\-\.]+)@@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([ a-zA-Z0-9_\-\.]+)@@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$" 
        data-val-regex="The field ToEmail must match the regular expression &#39;^(([a-zA-Z0-9_\-\.]+)@@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([ a-zA-Z0-9_\-\.]+)@@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$&#39;." 
        data-val="true" />        
</div>
<div class="LineWrapper SameLine">
    <label>Subject</label>
    <input id="subject" name="subject" type="text" class="Text"
        data-val-required="The Subject field is required." data-val="true" />    
</div>
<div class="LineWrapper SameLine">
    <label>Body</label>
    <textarea id="comment" class="Text" rows="2" name="comment" 
        data-val-required="The Comment field is required." data-val="true" cols="20"></textarea>

</div>
<div class="Button">
    <a id="btnSend" onclick="SubmitMailForm(this);">Send</a>
</div>
