<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<appSettings>
		<add key="ReportServerUrl" value="http://aswsyddev01/reportserver"/>
		<add key="ReportServicePath" value="/reportservice2005.asmx"/>

		<add key="SSRSAccount_Domain" value="aswsyddev01"/>
		<add key="SSRSAccount_Username" value="reportadmin"/>
		<add key="SSRSAccount_Password" value="!QAZ@WSX"/>

		<add key ="SETimeZone" value="SE Asia Standard Time"/>
		<add key ="AUSTimeZone" value="AUS Eastern Standard Time"/>

		<add key="usertypes" value="System,Internal,External" />
	</appSettings>

	<connectionStrings>
		<add name="EM_ReportConnectionString" connectionString="Data Source=10.9.0.21;Initial Catalog=EM_Reporting;Persist Security Info=True;User ID=vnteam;Password=vnteam" providerName="System.Data.SqlClient" />
		<add name="DartConnectionString" connectionString="m+X1KhqbXB0PXAuWTmawTjCRXGPSn4JRDO0NKznlvdjlwXUiJUvhqrXYi1Sea5ZMY9uuCIpqzn5kuyb9s0PwZc87h16Am7xPOT51rdgOEX1H6aOGKm+3RsG2yhamZd5LQianHptLt/riIFBH+S8dJw==#####" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>