<div id="yesno" class="reveal-modal medium" style="top: 150px !important; left: 50% !important">
    <h2>Warning</h2> 
    <br />
      <p>
        You can only interact with elements that are inside this dialog.
        To close it click a button or use the ESC key.
    </p>
    <div class="clear"></div><br />
    <div class="modalBtn">               
        <span class="btnPurple"><input type="button" id="btnOkModal" name="btnOK" value="OK" /></span>
        <span class="btnPurple"><input type="button" id="btnOkModalFavour" name="btnOKFavour" value="OK" /></span>
        <span class="btnPurple"><input type="button" id="btnCancelModal" name="btnCancel" value="Cancel" /></span>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

