<div id="loading" class="reveal-modal xsmall loadingContent" style="display: none;">
	<img src="@Url.ContentV("~/images/loading.gif")" alt="" title="" />
	<br />
</div>
<div class="reveal-modal-bg" id="overlay" style="display:none;"></div>