<span class="Button Right"><a id="btnCancel" class="close"  onclick="closePopup('@ViewData["idSearchForm"]');"> Cancel </a></span>
@if (ViewData["idSearchForm"] == "#sendMailLoadingReport")
{
    <span class="Button Right "><a id="btnOkModal" class="close" onclick="SendMail(this);"> Send </a></span>
}
else if (ViewData["idSearchForm"] == "#filter")
{
    <span class="Button Right "><a id="btnOkModal" class="close" onclick="AddFilter('@ViewData["idSearchForm"]');"> Ok </a></span>
}
else
{
    <span class="Button Right "><a id="btnOkModal" class="close" onclick=" handleOK_SearchForm('@ViewData["idSearchForm"]','@ViewData["policyform"]');"> OK </a></span>   
}