<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="No_Limit_Login_Attempts" value="3" />
  <add key="No_Days_Blocked_Attempts" value="1" />
  <add key="MailFrom" value="no-reply@dart-administrator.com" />
  <add key="MailHost" value="10.9.0.22" />
  <add key="ResetPasswordEmaiTemplate" value="Datas/EmailTemplate/ResetPasswordEmailTemplate.html" />
  <add key="ResetPasswordEmailSubject" value="DART Password Reset" />
  <add key="MailNewAccountSubject" value="New Account On Employers Mutual Report System" />
  <add key="MailNewAccountBody" value="Hi [FullName], You have been created a new account on Employers Mutual Report System.         Login: [UserName]          Password: [Password]        Please login again to change your password"/>
  <add key="AccessToken" value="XQqiaqPxoF9NEHlljm0QkeIRI8A8pvh6byjQo8r4ilQ=#####"/>
  <add key="ResetPasswordTokenTimeToExpiredByHour" value="24"/>
</appSettings>