<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DartEF" connectionString="metadata=res://*/DartDB.csdl|res://*/DartDB.ssdl|res://*/DartDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=syddbs003;initial catalog=Dart;persist security info=True;user id=dart;password=d@$#b0ard;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>