<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="1.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordAllowedChars" value="abcdefghijkmnopqrstuvwxyzABCDEFGHJKLMNOPQRSTUVWXYZ0123456789!@$?_-" />
  <!--site settings-->
  <add key="usertypes" value="System,Internal,External" />
  <add key="pagesizes" value="10,20,50" />
  <add key="IsNeedByPassCertificate" value="true" />
  <!--site settings-->
  <add key="HelpFile" value="/dart/Datas/Pilot_DB_Training_Pack.ppt" />
  <add key="Cache_Dataset_At_Hour" value="6" />
  <add key="Cache_Dataset_At_Minute" value="0" />
  <add key="Refresh_Cache_Dataset_At_Hour" value="7" />
  <add key="Refresh_Cache_Dataset_At_Minute" value="0" />
  <add key="Snapshot_At_Hour" value="7" />
  <add key="Snapshot_At_Minute" value="30" />
  <!-- Authentication -->
  <add key="LoginType" value="External" />
  <add key="DomainName" value="mnlaswig.int" />
  <!-- File Cabinet -->
  <add key="FileCabinetRoot" value="\\DATA1\Dart\FileCabinet" />
  <!-- Data Importing -->
  <add key="ImportingDataFolder" value="\\DATA1\Dart\ImportData" />
 
  <add key="ReportServerDomain" value="sydapp001" />
  <add key="ReportServerUrl" value="https://sydapp001/ReportServer" />
  <add key="ReportServicePath2010" value="/reportservice2010.asmx" />
  <add key="ReportPathPrefix" value="/EMReporting/Reports/" />
</appSettings>