<?xml version="1.0"?>
<client>
  <!-- this endpoint has an https: address -->
  <endpoint name="reliableSessionOverHttps"
            address="https://sydiis001:4431/DART.service/ActionService.svc"
            binding="customBinding"
            bindingConfiguration="reliableSessionOverHttps"
            contract="ActionServiceReference.IActionService" />
</client>