SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author:		<Author,,Name>
-- CREATE date: <CREATE Date,,>
-- Description:	<Description,,>
-- =============================================
IF EXISTS(SELECT * FROM sys.views WHERE name = 'vw_WOW_Claim_Activity_Detail')
	DROP VIEW [dbo].[vw_WOW_Claim_Activity_Detail]
GO
	CREATE VIEW [dbo].[vw_WOW_Claim_Activity_Detail]
	AS
	SELECT	AD.JURISDICTIONCODE AS JURISDICTION,
		  AD.CLAIM AS CLAIM_NO, 
          (CASE WHEN AD.CLAIMSTATUS = 'C' THEN 'Y' ELSE 'N' END) AS CLAIM_CLOSED_FLAG,
          CMH.REOPENREASON As REOPEN_REASON, 
          AR.LIABILITYSTATUSCODE AS CLAIM_LIABILITY_INDICATOR,
          /* COMPENSATION_COURT_CODE,*/
          AR.WORKSTATUSCODE AS WORK_STATUS_CODE,
          AD.CASEMANAGERID AS CLAIMS_OFFICER,
          /*PAY_SCHED,OWNER,*/
          /*AR.ReasonableExcuseCode AS REASONABLE_EXCUSE_CODE,*/
		  /* LIABILITY_START,
		  LIABILITY_END,DISPUTE_TYPE,
		  SCREENING_ACTION_CODE,*/
          WCTI.ESTIMPAIRMENT AS WPI,
	      /*RECOVERY_INVESTIGATION_IND,
	      WORKER_COMP_COMMISSION,
	      SECTION_52A_CODE,
	      INJURY_2ND_CLAIM_FLAG,
		  PROCESS_FLAG,
		  PCENT_ESTIMATE_RECOVERY,
		  RECOVERY_INSURER_3RDPARTY,
		  IS_COURT_AWARD,*/                  
          AR.SERIOUSLYINJUREDCODE AS SERIOUS_INJURY_CODE,
          /*WPI_MANAGERS,*/
          WCTI.ACTUALIMPAIRMENT AS WPI_FINAL,
		  /*TRANSACTION_DTE,
		  TIME_TRANSACTION,*/ 
		  AD.DateOpened AS DTE_CLAIM_ENTERED,
          AR.DATERECEIVEDBYEMPLOYER AS DTE_CLAIM_LODGED,
          AD.DateClosed AS DTE_CLAIM_CLOSED, 
		  AD.DateReopened AS DTE_CLAIM_REOPENED,
		  /* DTE_OF_LIABILITY,
		  CREATE_DTE,TIME_CREATE,*/
          AD.DateReceived AS DTE_CLAIM_RECEIVED,
          /*STATEMENT_CLAIM_DTE,*/
          AR.WorkStatusDate AS WORK_STATUS_DTE
          /*,DTE_CLAIM_SCREENING, 
          RECOVERY_COMMENCED_DTE, 
          DTE_RECOVERY_CLOSED*/
	FROM	ACCDATA AS AD
		  LEFT JOIN WORKCOVEREARNINGS               AS WCE ON AD.CLAIMID = WCE.CLAIMID
		  LEFT JOIN CLAIMMONTHLYHISTORY             AS CMH ON AD.CLAIMID = CMH.CLAIMID
		  LEFT JOIN ClientJurisdictional            AS CJ ON AD.CLIENTID = CJ.CLIENTID AND AD.JURISDICTIONCODE = CJ.JURISDICTIONCODE
		  LEFT JOIN MEMBER                          AS M ON AD.MEMBERID = M.MEMBERID
		  LEFT JOIN ACCREGULATOR                    AS AR ON AD.CLAIMID = AR.CLAIMID
		  LEFT JOIN Vw_workcover_totalimpairment    AS WCTI ON AD.CLAIMID = WCTI.CLAIMID
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO