@if (ViewData.ModelState.Values.Any())
{
    if (ViewData.ModelState["Error"] != null)
    {       
        <div class="txtFail" style="z-index: 4880;">@ViewData.ModelState["Error"].Errors[0].ErrorMessage</div>                        
    }
    else if (ViewData.ModelState["Success"] != null)
    {           
        <div class="txtSuccess" style="z-index: 4880;">@ViewData.ModelState["Success"].Errors[0].ErrorMessage</div>
    }
}