.center
{
    text-align:center !important;
}

.right
{
    text-align:right !important;
}

.action
{
    text-align:center !important;
    cursor:default !important;
}

.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url("../images/ui-icons_256x240.png")
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

.clear {
	clear: both;
}

li.leaf_none  {
    display:none; 
}
.w_100p {width:100% !important; margin:15px 0 30px !important;}