<!-- yes/no dialog -->
<div class="modal" id="yesno">
    <h2>This is a modal dialog</h2>
    <p>
        You can only interact with elements that are inside this dialog.
        To close it click a button or use the ESC key.
    </p>
    <!-- yes/no buttons -->
    <div>
        <span class="Button Right"><a id="btnCancelModal" class="close"> Cancel </a></span>
        <span class="Button Right "><a id="btnOkModal" class="close"> OK </a></span>
    </div>
</div>