@if (ViewData.ModelState.Values.Any())
{
    if (ViewData.ModelState["Error"] != null)
    {
    <div class="search-field-validation-error">
        <strong>Error </strong>- @ViewData.ModelState["Error"].Errors[0].ErrorMessage</div>                            
    }
    else if (ViewData.ModelState["Success"] != null)
    { 
    <div class="information">@ViewData.ModelState["Success"].Errors[0].ErrorMessage</div>                            
    }
}
