/****** Object:Table [dbo].[HEM_Agencies_Sub_Category]Script Date: 01/28/2014 10:44:02 ******/

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HEM_Agencies_Sub_Category]') AND type in (N'U'))	
	DROP TABLE [dbo].[HEM_Agencies_Sub_Category]
GO
/****** Object:  Table [dbo].[HEM_Agencies_Sub_Category]    Script Date: 01/28/2014 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HEM_Agencies_Sub_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [varchar](20) NULL,
	[AgencyName] [char](20) NULL,
	[Sub_Category] [varchar](256) NULL,
	[POLICY_NO] [char](19) NULL,
 CONSTRAINT [PK_HEM_Agencies_Sub_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HEM_Agencies_Sub_Category] ON
INSERT [dbo].[HEM_Agencies_Sub_Category] ([Id], [AgencyId], [AgencyName], [Sub_Category], [POLICY_NO]) VALUES (1194, N'10010', N'Other               ', N'Premier & Cabinet', N'WC900321           ')
INSERT [dbo].[HEM_Agencies_Sub_Category] ([Id], [AgencyId], [AgencyName], [Sub_Category], [POLICY_NO]) VALUES (1195, N'10015', N'Other               ', N'Premier & Cabinet', N'WC900331           ')
INSERT [dbo].[HEM_Agencies_Sub_Category] ([Id], [AgencyId], [AgencyName], [Sub_Category], [POLICY_NO]) VALUES (1196, N'10015', N'Other               ', N'Premier & Cabinet', N'WC900772           ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[HEM_Agencies_Sub_Category] OFF

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON

GO
GRANT  SELECT  ON [dbo].[HEM_Agencies_Sub_Category] TO [EMICS]
GRANT  SELECT  ON [dbo].[HEM_Agencies_Sub_Category] TO [EMIUS]
GRANT  SELECT  ON [dbo].[HEM_Agencies_Sub_Category] TO [DART_Role]
GO
