/****** Object:  Table [dbo].[TMF_Agencies_Sub_Category]    Script Date: 05/26/2014 17:20:48 ******/
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TMF_Agencies_Sub_Category]') AND type in (N'U'))
	DROP TABLE [dbo].[TMF_Agencies_Sub_Category]
GO
/****** Object:  Table [dbo].[TMF_Agencies_Sub_Category]    Script Date: 05/26/2014 17:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TMF_Agencies_Sub_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [varchar](20) NULL,
	[AgencyName] [char](20) NULL,
	[Sub_Category] [varchar](256) NULL,
	[POLICY_NO] [char](19) NULL,
	[Group] [varchar](50) NULL,
 CONSTRAINT [PK_TMF_Agencies_Sub_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TMF_Agencies_Sub_Category] ON
INSERT [dbo].[TMF_Agencies_Sub_Category] ([Id], [AgencyId], [AgencyName], [Sub_Category], [POLICY_NO], [Group]) VALUES (2791, N'10010', N'OTHER               ', N'THE LEGISLATURE', N'WC900321           ', N'1')
INSERT [dbo].[TMF_Agencies_Sub_Category] ([Id], [AgencyId], [AgencyName], [Sub_Category], [POLICY_NO], [Group]) VALUES (2792, N'10015', N'OTHER               ', N'CABINET OFFICE', N'WC900331           ', N'1')
INSERT [dbo].[TMF_Agencies_Sub_Category] ([Id], [AgencyId], [AgencyName], [Sub_Category], [POLICY_NO], [Group]) VALUES (2793, N'10015', N'OTHER               ', N'CABINET OFFICE', N'WC900772           ', N'1')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[TMF_Agencies_Sub_Category] OFF
