<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<appSettings>
		<add key="ReportServerUrl" value="http://aswsyddev01/reportserver"/>
		<add key="ReportServicePath" value="/reportservice2005.asmx"/>
    <add key="ReportPathPrefix" value="/EMReporting/Reports/"/>

		<add key="SSRSAccount_Domain" value="aswsyddev01"/>
		<add key="SSRSAccount_Username" value="reportadmin"/>
		<add key="SSRSAccount_Password" value="!QAZ@WSX"/>

		<add key="SETimeZone" value="SE Asia Standard Time"/>
		<add key="AUSTimeZone" value="AUS Eastern Standard Time"/>

		<add key="usertypes" value="System,Internal,External"/>
	</appSettings>

	<connectionStrings>
		<add name="EM_ReportConnectionString" connectionString="Data Source=10.9.0.21;Initial Catalog=EM_Reporting;Persist Security Info=True;User ID=vnteam;Password=vnteam" providerName="System.Data.SqlClient"/>
		<add name="DartConnectionString" connectionString="m+X1KhqbXB0PXAuWTmawTvGOYUuRVRXf4Q/5i1xch/bhKI226S7BNOmgNQ8iilXufqkNx0tgcfvU72d1OdQ7nLamTMjbBF2k38TGDVRBXdg=#####" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
