<div class="viewCabinet">
    <div class="viewCabinetContent reveal-modal" style="margin: auto">
        <h1>File cabinet</h1>

        <div id="cabinetContent" style="background-color: White; margin-top: 10px;">
        </div>

        <a class="close-reveal-modal" onclick="closeCabinetPopup()" title="Close">&#215;</a>
    </div>
    <div class="clear">
    </div>
</div>