@using EM_Report.Helpers
<div id="divFilter" class="formWrap">
    <input type="hidden" id="fieldSize" value=""/>
    <div class="formInline">
       <label style="width: 35px;"> Field </label>
        @Html.DropDownList("cboDynamicFilterColumn", new SelectList(Base.GetListFromSectionConfig("DynamicFilterColumn"), "Key", "Value"), new
        {
            @onchange = "changeInputType(this);"
        })
    </div>
    <div class="formInline" style="width: 165px;">
        <label> Operator </label>
        <div class="WrapperSelectBox SelectForm" style="width: 70px;">
            <select name="operator" class="form-field dropdown-parameter" style="width: 100px;">
                <option value="like" > Like </option>
                <option value="&#62;"> &#62; </option>
                <option value="&#62;&#61;"> &#62;&#61; </option>
                <option value="&#61;"> &#61; </option>
                <option value="&#60;"> &#60; </option>
                <option value="&#60;&#61;"> &#60;&#61; </option>
                <option value="&#60;&#62;"> &#60;&#62; </option>
            </select>
        </div>
    </div>
    <div class="formInline">
        <label style="width: 40px;"> Value </label>
        <input name="txtValue" id="txtFilterValue" type="Text" class="Text" data-val="true">
        <input name="txtDatetime" type="Text" class="DatePicker-Schedule" style="display: none; width: 200px;"/>
        <input type="radio" name="bit" value="1" style="display: none; height: auto; float: left;"/> <label name="True" style="display: none">True</label>
        <input type="radio" name="bit" value="0" style="display: none; height: auto; float: left;"/> <label name="False" style="display: none">False</label>
    </div>
    <div style="float: right; margin-right: 50px;">
        <a id="btnRemoveFilter" class="FilterRemoveImage" title="Remove" onclick="RemoveFilter(this);"></a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        changeFormType($("select[name=field] option").attr("type"), $("select[name=field] option").parent().parent().parent().parent().children());
    });
</script>