/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
a {
	text-decoration:none;
	cursor:pointer;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font: 62.5% Tahoma,Geneva,sans-serif;
	margin: 0px;
	padding: 0px;
}
input,
select,
textarea {
	font: 100% Tahoma,Geneva,sans-serif;
}
/* for modern browser */
input[type="image"],
input[type="submit"] {
	outline: none;
}
.Wrapper {
	overflow: visible;
	height: 1%;
	padding-bottom: 20px;
}
html>body .Wrapper {
	overflow: hidden;
	height: auto;
}
.ClearItem {
	clear: both;
	height: 0px;
	overflow: hidden;
}
/* end reset css */

/* header */
#header {
	height: 170px;
	color: white;
	font-size: 1.4em;
	font-weight: bold;
}
	#logo {
		background: url(../images/eml/logo.png) no-repeat transparent top left;
		width: 240px;
		height: 113px;
		margin-left: 20px;
		top: 20px;
		position: relative;
	}
		#logo h1 {
			margin: 0px;
			display: block;
			text-indent: -9999px;
		}
	.HeaderMenu{
		margin-right: 20px;
		top: 20px;
		position: relative;
	}
		.HeaderMenu li{
			display:inline-block;
			float: right;
			padding-right: 10px;
			padding-left: 10px;
			background: url(../images/eml/li-separate.gif) no-repeat bottom right;
		}
			.HeaderMenu li.LastItem {
				background: none;
			}
		.HeaderMenu a {
			color: white;
		}
		.HeaderMenu a:hover {
			color: #009AC8;
		}
	.HdBox {
background-color: #ebebeb;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-box-shadow: 5px -5px 5px #545454; 
-webkit-box-shadow: 5px -5px 5px #545454; 
box-shadow: 5px -5px 5px #545454;
width: auto;
margin: 0px 20px 0px 280px;
height:109px;
position: relative;
bottom: 50px;
}
		.HdBox h3 {
			color: #009BC8;
			font-size: 2.0em;
			position: relative;
			top: 40px;
			left: 20px;
		}
/* end header */
/* main */
#main {
width:auto;
margin:0 auto;

/* IE10 */ 
background: #646464;
}
h4 {
    color: #009BC8;
	font-size: 1.4em;
}
.Container {
background: #646464;
overflow: hidden;
}
.Divider {
background: url(../images/eml/divider.png) 0 0 transparent repeat;
height:1px;
position: relative;
}
#navigation {
	min-height: 440px;
	color: white;
	width: 280px;
	float: left;
	background: url(../images/eml/blending-bg.png) repeat scroll 0 0 transparent;
	margin-bottom: -4000px;
	padding-bottom: 4000px;
}
#mainNav {
font-size: 1.4em;
font-weight: bold;
}
#mainNav li {
width: 280px;
padding: 0px;
background: url(../images/eml/sub-divider.png) bottom left repeat-x;

}
#mainNav li:hover > ul#aaaa {
display:block;
}
#mainNav li img.arrow {
display: inline;
position: relative;
top: -20px;
right: 40px;
}
#mainNav .SubNav li:hover {
background-color: #929292;
}
#mainNav a {
width: 240px;
background: url(../images/eml/arrow-h.png) no-repeat 230px 50% transparent;
padding: 0px 10px 0px 10px;
}
#mainNav a,
#mainNav span {
display: inline-block;
text-decoration: none;
text-transform: capitalize;
color: white;
}

#mainNav span:hover {
color: #009AC8;
}
#mainNav span {
position: relative;
top: -20px;
left: 5px;
}
#mainNav .SubNav {
background-color: #a0a1a1;
display: none;
border: 1px 0 solid #8e8f8f;
}
#mainNav .SubNav li {
background-image: none;
}
#mainNav .SubNav li a {
width: 200px;
background: url(../images/eml/arrow-v.png) no-repeat 55px 50% transparent;
padding: 20px 5px 8px 75px;
height: 30px;
}
#mainNav .SubNav li.NavLastItem {
background: url(../images/eml/sub-divider.png) bottom center transparent repeat-x;
}
#mainNav .SubNav li.NavFirstItem {
background: url(../images/eml/sub-divider.png) 0 -1px transparent repeat-x;
}
#content {
min-height: 400px;
width:auto;
margin-left: 280px;
margin-right: 20px;
background-color: white;
-moz-box-shadow: 0px 0px 5px 5px #545454; 
-webkit-box-shadow: 0px 0px 5px 5px #545454; 
box-shadow: 0px 0px 5px 5px #545454; 
padding: 20px 20px 4000px 20px;
margin-bottom: -4000px; 
}
	.BoxHeader {
		background-color: #E3E3E3;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;   
		width: auto;
		padding: 15px 15px 0px 15px;
		height:35px;
		position: relative;    
		border: 1px solid #C8C8C8;
	    }
		.BoxHeader label,
		.BoxHeader span
		{
		    color:#37accf;
		    font-size:1.4em;
		    font-weight: bolder;
		}
		.BoxHeader .DisplayEntry {
			float:left;
			width:200px;
		}
			.BoxHeader .DisplayEntry div,
			.BoxHeader .SearchBox div{
				float:left;
				height:23px;
				line-height:23px;
			}
			.BoxHeader .DisplayEntry .WrapperSelectBox{
				width: 40px;
				height: 22px;   
			}
			.BoxHeader  select {
				background: transparent;
				border: 0;
				font-size: 1.4em;
				height: 22px;
				-webkit-appearance: none;
			}
				.BoxHeader .DisplayEntry select{
					width: 68px;   
				}
				.BoxHeader .SelectCategory select {
					width: 268px;   
				}
				.SelectCategory
				{
					width: 240px;
					height: 22px;    
				}
				.SearchInput {
					position: relative;
					top: -2px;
					margin-left: 30px;
				}
		.BoxHeader .SearchBox {
			float: right;
		}
	.Grid
	{
		position: relative;
		margin: 0px auto;
		width: 100%;    
		border-collapse: collapse;
		table-layout: auto;    
		display: table;    
		background-color:White;  
	}
		.Grid a
		{
			color:#009BC8;
		}
		.Grid thead {     
			background-color: #E9E9E9;  
			vertical-align: middle;    
		}
			.Grid thead th {    
				color: black;
				font-weight: bolder;
				font-size: 1.2em !important;
				border: 1px solid #C8C8C8;
				text-transform: capitalize;
				padding: 3px 0px 3px 3px;
				cursor: pointer;
				white-space: nowrap;
				text-align: left;
				height:35px;
				vertical-align:middle;
			}
			    .Grid thead th.first 
			    {
			        width: 30px;
			    }
		.Grid tbody {
			display: table-header-group;
			vertical-align: middle;
			border-color: inherit;    
		}
			.Grid tbody tr {    
				height: 35px;    
				padding: 3px 3px 3px 3px;  
				white-space: nowrap;
				text-align: left;    
			}
				.Grid tbody tr td {
					border: 1px solid #C8C8C8;   
					padding: 3px 3px 3px 3px;   
					white-space: nowrap;
					text-align: left;
					font-size:1.2em;
					vertical-align:middle;
				}
				.Grid tbody tr td.first 
				{
				    width: 30px;
				}
				#tbWrapper_User tbody tr td{			   
					padding: 0px 3px 3px 3px;   
					white-space: nowrap;
					text-align: left;
					font-size:1.2em;
					vertical-align:middle;
				}
				#tbWrapper_User tbody tr td b,strong{					
					font-weight:bold;
				}
				#tbWrapper_User tbody tr td strong{	
				    color: #37ACCF;
				}
				.Grid tbody .Action{
					width: 80px;
				}
	.Paging {
		background-color: #eaeaea;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;    
		width: auto;
		padding: 15px 15px 0px 15px;
		height:35px;
		position: relative;    
		border: 1px solid #C8C8C8;
		border-top:none;
	}
	.Button a {		
		border:1px solid #aaa;
		border-radius: 5px;
		padding: 2px 5px;
		text-transform: capitalize;
		text-decoration: none;
		font-weight: bold;
		margin: 0 3px;
		cursor: pointer;     
		font-size:1.3em;
		background: #ffffff; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* IE10+ */
		background: linear-gradient(top, #ffffff 0%,#cccccc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */		
		height: 20px;
        text-align: center;
        color:black;
	}
		.Button a.Disable {
			opacity: 0.3;
			cursor:default;
		}
		.Button a.SmallButton {
			font-size: 1em;
			color: #000;
			font-weight: normal;
			height: 18px;
			position: relative;
			top: -2px;
		}
	.Button a:hover { background: #ffffff; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5N2QxZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #ffffff 0%, #97d1f8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#97d1f8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* IE10+ */
		background: linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#97d1f8',GradientType=0 ); /* IE6-8 */
		border: 1px solid #009bc8;
	}
		.Button a.Disable:hover {
			background: none;
			border: 1px solid #ccc;
		}
	.FormWrapper {
		border:1px solid #ddd;
		padding:10px 10px 30px 50px;
	}
	    .FormWrapper.ViewReport {
	        padding: 0;
	    }
	.LineWrapper {
		margin-top: 20px;
		font-size:1.2em;
	}
	    #divInternal div.LineWrapper
        {
            font-size: 1em;
        }
		.LineWrapper.First {
			margin-top: 10px;
		}
		.LineWrapper label {
			display:block;
			padding: 2px 0;
		}
		.LineWrapper .Text {
			margin-top: 5px;
			width: 420px;
		}
			.LineWrapper .Text .Long {
				width: 720px;
			}
		.LineWrapper textarea.Text {
			height:100px;
			padding:5px;
		}
		.BoxContent select {
			background: transparent;
			border: 0;
			height: 22px;
			-webkit-appearance: none;
		}
			.BoxContent .SelectForm {
				background: url(../images/eml/btn-drl.png) no-repeat right #F0F0F0;
				width: 411px;
				line-height: 20px;
			}
				.BoxContent .SelectForm select{
					width: 430px;
					height: 22px;
				}
				.BoxContent .SelectForm:hover{
					border-color:#009BC8;
				}
		
		
		.LineWrapper.SameLine label {
			float: left;
			width: 150px;
			text-transform: capitalize;
		}
			.LineWrapper.SameLine label.Long {
				width: auto;
			}
		.LineWrapper.SameLine .Text {
			margin:0;
			width:400px;
		}
			.LineWrapper.SameLine .Text.Long {
				width: 620px;
			}

		.LineWrapper.SameLine .Text[disabled='true']{
			height:20px;
		}
	.CommandWrapper {
		border-radius:0 0 6px 6px;
		border: 1px solid #CCCCCC;
		background-color: #EEEEEE;
		height: 30px;
		padding: 10px 0px 10px 30px;
	}
		.CommandWrapper a{
			border-radius: 5px 5px 5px 5px;
			border:1px solid #aaa;
			color:#000;
			font-weight:bold;
			margin-left: 20px;
			padding: 5px 8px 5px 30px;
			position: relative;
			top: 8px;
			font-size:1.4em;
		}        
		.Paging .CmdButton {
			border-radius: 5px 5px 5px 5px;
			border:1px solid #aaa;
			color:#000;
			font-weight:bold;
			margin-left: 20px;
			padding: 5px 8px 5px 20px;
			position: relative;			
			font-size:1.4em;	
			cursor:pointer;				
		}		
		.Add
		{
		    background: url("../images/eml/btnAdd.png") no-repeat scroll 0px 50% transparent;
			background-image: url("../images/eml/btnAdd.png"), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA));
			background-image: url("../images/eml/btnAdd.png"), -webkit-linear-gradient(top, #FFF, #AAA);
			background-image:    url("../images/eml/btnAdd.png"), -moz-linear-gradient(top, #FFF, #AAA); 
			background-image:     url("../images/eml/btnAdd.png"), -ms-linear-gradient(top, #FFF, #AAA); 
			background-image:      url("../images/eml/btnAdd.png"), -o-linear-gradient(top, #FFF, #AAA);
			background-image:         url("../images/eml/btnAdd.png"), linear-gradient(top, #FFF, #AAA); 
		}
		.Paging .CmdButton.Add:hover {
            border-color:#009BC8;
			background:url("../images/eml/btnAdd.png") no-repeat scroll 0px 50% transparent;
			background: url("../images/eml/btnAdd.png") no-repeat scroll 0px 50%,-moz-linear-gradient(top, #ffffff 0%, #97d1f8 100%); /* FF3.6+ */
			background: url("../images/eml/btnAdd.png")  no-repeat scroll 0px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#97d1f8)); /* Chrome,Safari4+ */
			background: url("../images/eml/btnAdd.png")  no-repeat scroll 0px 50%,-webkit-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Chrome10+,Safari5.1+ */
			background: url("../images/eml/btnAdd.png")  no-repeat scroll 0px 50%,-o-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Opera 11.10+ */
			background: url("../images/eml/btnAdd.png") no-repeat scroll 0px 50%,-ms-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* IE10+ */
			background: url("../images/eml/btnAdd.png") no-repeat scroll 0px 50%,linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* W3C */
        }
		.Active
		{
		    background: url("../images/eml/btnActive.png") no-repeat scroll 0px 50% transparent;
			background-image: url("../images/eml/btnActive.png"), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA));
			background-image: url("../images/eml/btnActive.png"), -webkit-linear-gradient(top, #FFF, #AAA);
			background-image:    url("../images/eml/btnActive.png"), -moz-linear-gradient(top, #FFF, #AAA); 
			background-image:     url("../images/eml/btnActive.png"), -ms-linear-gradient(top, #FFF, #AAA); 
			background-image:      url("../images/eml/btnActive.png"), -o-linear-gradient(top, #FFF, #AAA);
			background-image:         url("../images/eml/btnActive.png"), linear-gradient(top, #FFF, #AAA); 
		}
		.Paging .CmdButton.Active:hover {
            border-color:#009BC8;
			background:url("../images/eml/btnActive.png") no-repeat scroll 0px 50% transparent;
			background: url("../images/eml/btnActive.png") no-repeat scroll 0px 50%,-moz-linear-gradient(top, #ffffff 0%, #97d1f8 100%); /* FF3.6+ */
			background: url("../images/eml/btnActive.png")  no-repeat scroll 0px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#97d1f8)); /* Chrome,Safari4+ */
			background: url("../images/eml/btnActive.png")  no-repeat scroll 0px 50%,-webkit-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Chrome10+,Safari5.1+ */
			background: url("../images/eml/btnActive.png")  no-repeat scroll 0px 50%,-o-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Opera 11.10+ */
			background: url("../images/eml/btnActive.png") no-repeat scroll 0px 50%,-ms-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* IE10+ */
			background: url("../images/eml/btnActive.png") no-repeat scroll 0px 50%,linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* W3C */
        }
		.InActive
		{
		    background: url("../images/eml/btnInActive.png") no-repeat scroll 0px 50% transparent;
			background-image: url("../images/eml/btnInActive.png"), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA));
			background-image: url("../images/eml/btnInActive.png"), -webkit-linear-gradient(top, #FFF, #AAA);
			background-image:    url("../images/eml/btnInActive.png"), -moz-linear-gradient(top, #FFF, #AAA); 
			background-image:     url("../images/eml/btnInActive.png"), -ms-linear-gradient(top, #FFF, #AAA); 
			background-image:      url("../images/eml/btnInActive.png"), -o-linear-gradient(top, #FFF, #AAA);
			background-image:         url("../images/eml/btnInActive.png"), linear-gradient(top, #FFF, #AAA); 
		}
		.Paging .CmdButton.InActive:hover {
            border-color:#009BC8;
			background:url("../images/eml/btnInActive.png") no-repeat scroll 0px 50% transparent;
			background: url("../images/eml/btnInActive.png") no-repeat scroll 0px 50%,-moz-linear-gradient(top, #ffffff 0%, #97d1f8 100%); /* FF3.6+ */
			background: url("../images/eml/btnInActive.png")  no-repeat scroll 0px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#97d1f8)); /* Chrome,Safari4+ */
			background: url("../images/eml/btnInActive.png")  no-repeat scroll 0px 50%,-webkit-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Chrome10+,Safari5.1+ */
			background: url("../images/eml/btnInActive.png")  no-repeat scroll 0px 50%,-o-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Opera 11.10+ */
			background: url("../images/eml/btnInActive.png") no-repeat scroll 0px 50%,-ms-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* IE10+ */
			background: url("../images/eml/btnInActive.png") no-repeat scroll 0px 50%,linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* W3C */
        }
.Delete
		{
		    background: url("../images/eml/btnDelete.png") no-repeat scroll 0px 50% transparent;
			background-image: url("../images/eml/btnDelete.png"), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA));
			background-image: url("../images/eml/btnDelete.png"), -webkit-linear-gradient(top, #FFF, #AAA);
			background-image:    url("../images/eml/btnDelete.png"), -moz-linear-gradient(top, #FFF, #AAA); 
			background-image:     url("../images/eml/btnDelete.png"), -ms-linear-gradient(top, #FFF, #AAA); 
			background-image:      url("../images/eml/btnDelete.png"), -o-linear-gradient(top, #FFF, #AAA);
			background-image:         url("../images/eml/btnDelete.png"), linear-gradient(top, #FFF, #AAA); 
		}
		.Paging .CmdButton.Delete:hover {
            border-color:#009BC8;
			background:url("../images/eml/btnDelete.png") no-repeat scroll 0px 50% transparent;
			background: url("../images/eml/btnDelete.png") no-repeat scroll 0px 50%,-moz-linear-gradient(top, #ffffff 0%, #97d1f8 100%); /* FF3.6+ */
			background: url("../images/eml/btnDelete.png")  no-repeat scroll 0px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#97d1f8)); /* Chrome,Safari4+ */
			background: url("../images/eml/btnDelete.png")  no-repeat scroll 0px 50%,-webkit-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Chrome10+,Safari5.1+ */
			background: url("../images/eml/btnDelete.png")  no-repeat scroll 0px 50%,-o-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Opera 11.10+ */
			background: url("../images/eml/btnDelete.png") no-repeat scroll 0px 50%,-ms-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* IE10+ */
			background: url("../images/eml/btnDelete.png") no-repeat scroll 0px 50%,linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* W3C */
        }
		.CommandWrapper .ButtonSave {
			background: url("../images/eml/bg-btn-save.png") no-repeat scroll 0px 50% transparent;
			background-image: url("../images/eml/bg-btn-save.png"), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA));
			background-image: url("../images/eml/bg-btn-save.png"), -webkit-linear-gradient(top, #FFF, #AAA);
			background-image:    url("../images/eml/bg-btn-save.png"), -moz-linear-gradient(top, #FFF, #AAA); 
			background-image:     url("../images/eml/bg-btn-save.png"), -ms-linear-gradient(top, #FFF, #AAA); 
			background-image:      url("../images/eml/bg-btn-save.png"), -o-linear-gradient(top, #FFF, #AAA);
			background-image:         url("../images/eml/bg-btn-save.png"), linear-gradient(top, #FFF, #AAA); 
		}

		.CommandWrapper .ButtonBack {
			background:url("../images/eml/bg-btn-backtolist.png") no-repeat scroll 0px 50% transparent;
			background-image: url("../images/eml/bg-btn-backtolist.png"), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA)); /* Saf4+, Chrome */
			background-image: url("../images/eml/bg-btn-backtolist.png"), -webkit-linear-gradient(top, #FFF, #AAA); /* Chrome 10+, Saf5.1+ */
			background-image:    url("../images/eml/bg-btn-backtolist.png"), -moz-linear-gradient(top, #FFF, #AAA); /* FF3.6+ */
			background-image:     url("../images/eml/bg-btn-backtolist.png"), -ms-linear-gradient(top, #FFF, #AAA); /* IE10 */
			background-image:      url("../images/eml/bg-btn-backtolist.png"), -o-linear-gradient(top, #FFF, #AAA); /* Opera 11.10+ */
			background-image:         url("../images/eml/bg-btn-backtolist.png"), linear-gradient(top, #FFF, #AAA); /* W3C */
		}
		.CommandWrapper .ButtonAssignExternal {
			background:url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50% transparent;
			background-image: url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50%, -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA)); /* Saf4+, Chrome */
			background-image: url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50%, -webkit-linear-gradient(top, #FFF, #AAA); /* Chrome 10+, Saf5.1+ */
			background-image:    url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50%, -moz-linear-gradient(top, #FFF, #AAA); /* FF3.6+ */
			background-image:     url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50%, -ms-linear-gradient(top, #FFF, #AAA); /* IE10 */
			background-image:      url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50%, -o-linear-gradient(top, #FFF, #AAA); /* Opera 11.10+ */
			background-image:         url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50%, linear-gradient(top, #FFF, #AAA); /* W3C */
		}
		.CommandWrapper .ButtonSave:hover {
			border-color:#009BC8;
			background:url("../images/eml/bg-btn-save.png") no-repeat scroll 0px 50% transparent;
			background: url("../images/eml/bg-btn-save.png") no-repeat scroll 0px 50%,-moz-linear-gradient(top, #ffffff 0%, #97d1f8 100%); /* FF3.6+ */
			background: url("../images/eml/bg-btn-save.png")  no-repeat scroll 0px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#97d1f8)); /* Chrome,Safari4+ */
			background: url("../images/eml/bg-btn-save.png")  no-repeat scroll 0px 50%,-webkit-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Chrome10+,Safari5.1+ */
			background: url("../images/eml/bg-btn-save.png")  no-repeat scroll 0px 50%,-o-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Opera 11.10+ */
			background: url("../images/eml/bg-btn-save.png") no-repeat scroll 0px 50%,-ms-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* IE10+ */
			background: url("../images/eml/bg-btn-save.png") no-repeat scroll 0px 50%,linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* W3C */
		}
		.CommandWrapper .ButtonBack:hover {
			border-color:#009BC8;
			background:url("../images/eml/bg-btn-backtolist.png") no-repeat scroll 0px 50% transparent;
			background: url("../images/eml/bg-btn-backtolist.png") no-repeat scroll 0px 50%,-moz-linear-gradient(top, #ffffff 0%, #97d1f8 100%); /* FF3.6+ */
			background: url("../images/eml/bg-btn-backtolist.png")  no-repeat scroll 0px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#97d1f8)); /* Chrome,Safari4+ */
			background: url("../images/eml/bg-btn-backtolist.png")  no-repeat scroll 0px 50%,-webkit-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Chrome10+,Safari5.1+ */
			background: url("../images/eml/bg-btn-backtolist.png")  no-repeat scroll 0px 50%,-o-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Opera 11.10+ */
			background: url("../images/eml/bg-btn-backtolist.png") no-repeat scroll 0px 50%,-ms-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* IE10+ */
			background: url("../images/eml/bg-btn-backtolist.png") no-repeat scroll 0px 50%,linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* W3C */
		}
		.CommandWrapper .ButtonAssignExternal:hover {
			border-color:#009BC8;
			background:url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50% transparent;
			background: url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50%,-moz-linear-gradient(top, #ffffff 0%, #97d1f8 100%); /* FF3.6+ */
			background: url("../images/eml/bg-btn-assign.png")  no-repeat scroll 0px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#97d1f8)); /* Chrome,Safari4+ */
			background: url("../images/eml/bg-btn-assign.png")  no-repeat scroll 0px 50%,-webkit-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Chrome10+,Safari5.1+ */
			background: url("../images/eml/bg-btn-assign.png")  no-repeat scroll 0px 50%,-o-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Opera 11.10+ */
			background: url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50%,-ms-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* IE10+ */
			background: url("../images/eml/bg-btn-assign.png") no-repeat scroll 0px 50%,linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* W3C */
		}
		.CommandWrapper .Delete
		{
		    background: url("../images/eml/btnDelete.png") no-repeat scroll 0px 50% transparent;
			background-image: url("../images/eml/btnDelete.png"), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA));
			background-image: url("../images/eml/btnDelete.png"), -webkit-linear-gradient(top, #FFF, #AAA);
			background-image:    url("../images/eml/btnDelete.png"), -moz-linear-gradient(top, #FFF, #AAA); 
			background-image:     url("../images/eml/btnDelete.png"), -ms-linear-gradient(top, #FFF, #AAA); 
			background-image:      url("../images/eml/btnDelete.png"), -o-linear-gradient(top, #FFF, #AAA);
			background-image:         url("../images/eml/btnDelete.png"), linear-gradient(top, #FFF, #AAA); 
		}
		.CommandWrapper .Delete:hover {
            border-color:#009BC8;
			background:url("../images/eml/btnDelete.png") no-repeat scroll 0px 50% transparent;
			background: url("../images/eml/btnDelete.png") no-repeat scroll 0px 50%,-moz-linear-gradient(top, #ffffff 0%, #97d1f8 100%); /* FF3.6+ */
			background: url("../images/eml/btnDelete.png")  no-repeat scroll 0px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#97d1f8)); /* Chrome,Safari4+ */
			background: url("../images/eml/btnDelete.png")  no-repeat scroll 0px 50%,-webkit-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Chrome10+,Safari5.1+ */
			background: url("../images/eml/btnDelete.png")  no-repeat scroll 0px 50%,-o-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* Opera 11.10+ */
			background: url("../images/eml/btnDelete.png") no-repeat scroll 0px 50%,-ms-linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* IE10+ */
			background: url("../images/eml/btnDelete.png") no-repeat scroll 0px 50%,linear-gradient(top, #ffffff 0%,#97d1f8 100%); /* W3C */
        }
	
.Left {
	float: left;
}
.Right {
	float: right;
}
.Hide {
    visibility: hidden;
    display: none;
	margin-top: 0;
}
select 
{
	-webkit-appearance: menulist;
	box-sizing: border-box;
	-webkit-box-align: center;    
	border-image: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: black;    
	cursor: default;    
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D6D6D6;   
	-webkit-box-shadow: 0 0 2px white;
	-moz-box-shadow: 0 0 2px white;
	box-shadow: white 0 0 2px;	
}
.WrapperSelectBox
{
	overflow: hidden;
	background: url(../images/eml/btnSelect.png) no-repeat right #F0F0F0;
	-webkit-box-shadow: 0 0 2px #B3B3B3;
	-moz-box-shadow: 0 0 2px #B3B3B3;
	box-shadow: 0 0 2px #B3B3B3;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#F0F0F0;
	border: 1px solid #B3B3B3;
}
input, textarea {
	-moz-box-shadow:    0 1px 1px #CCCCCC inset; 
	-webkit-box-shadow: 0 1px 1px #CCCCCC inset; 
	box-shadow:         0 1px 1px #CCCCCC inset; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 20px;
	border: 1px solid #AAAAAA;
	padding: 1px 5px 1px 5px;
}
	input[type='text']:hover, textarea:hover {
		border-color:#009BC8;
	}
	input[type='checkbox'],input[type='radio'] {
		border:none;
		border-radius: none;
		box-shadow:none;
	}
		.LineWrapper input[type='checkbox'] {
			position: relative;
			top: -3px;
			left: 10px;
		}
	input[type="image"]
	{    
		border: none;    
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;	
	} 
	input#txtInput {    
		width: 210px;
		line-height: 15px;
		background-color:#F0F0F0;
		font-size: 1.4em;
	}
	input#btnSearch {
		position: relative;
		top: 5px;
		margin-left: 10px;
	}
	
/* end main */
#footer {
	color: white;
	background-color: #464646;
	height: 50px;
	text-align: center;
	padding-top: 20px;
}
/***************************************/
/*************** TABS ******************/
/***************************************/
/* root element for tabs  */
ul.tabs {
    margin:0 !important;
    padding: 15px 0px 3px 0px;
    height:50px;
    border-bottom:1px solid #C8C8C8;
}
/* single tab */
	ul.tabs li {
	    line-height: 30px;
	    float:left;
	    padding: 0px;
	    margin:0;
	    list-style-type:none;
	}

/* link inside the tab. uses a background image */
	ul.tabs a {
	    float:left;
	    font-size:1.4em;
	    font-weight: bold;
	    display:block;
	    padding: 8px 30px ;
	    text-decoration:none;
	    border:1px solid #C8C8C8;
	    border-bottom:0px;
	    height: 35px;
	    background-color:#efefef;
	    color:#000;
	    margin-right:2px;
	    position:relative;
	    top:1px;
	    outline:0;
	    -moz-border-radius:4px 4px 0 0;
	    border-radius: 4px 4px 0 0;
	}
	ul.tabs a:hover {
	    background-color:#F7F7F7;
	    color:#37accf;
	}
	/* selected tab */
	ul.tabs a.current {
	    background-color:#EBEAEA;
	    color:#37accf;
	    cursor:default;
	}
/***************************************/
/******* END TABS *******/
/***************************************/
/* error message */
.error {
    height:15px;
    background-color:#FFFE36;
    font-size:11px;
    border:1px solid #E1E16D;
    padding:4px 10px;
    color:#000;
    display:none;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;

    -moz-box-shadow:0 0 6px #ddd;
    -webkit-box-shadow:0 0 6px #ddd;
}

	.error p {
	    margin:0;
	}
/***************************************/
/******* MODAL DIALOG - OVERLAY ********/
/***************************************/
#loading {
	display: none;
	width: auto;
	height: auto;
}
.Overlay {
	background-color: #fff;
	display: none;
	color:#000;
	padding: 10px;
	width: 750px;
    /*height: 495px;*/
	border-radius: 5px 5px 5px 5px;
}
	.Overlay .BoxHeader {
		height: auto;
		min-height: 50px;
		padding: 10px;
	}
		.Overlay .BoxHeader .SearchInput {
			margin: 0;
		}
		.Overlay .BoxHeader label {
			width: 125px;
			display: inline-block;
		}
		.Overlay .BoxHeader input.Popup 
		{
		    font-size: 1.2em;
			width: 175px;
			margin-right: 5px;
		}
	.Overlay .BoxContent {
		/* min-height: 200px;*/
		max-height: 455px;
		overflow-y: no-display;
		overflow: auto;
	}
/******************************************/
/******* END MODAL DIALOG - OVERLAY *******/
/******************************************/
#rpViewerTab.Hide
{
    display: block !important;
    visibility: hidden;
    height: 0px;
}
#rpViewerTab.Show
{
    display: inherit;
    visibility: visible;
}
.field-validation-error
{
    color: Red;
    position:relative;   
    left:5px;
}
.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
} 
.message 
{    
    font-weight:bold;
    font-size:1.3em;
    font-style:italic;
}
.information
{
    color:Blue;
    display:block !important;
}
.error
{
    color:Red;
    display:block !important;
}

/* Dialog */
.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    opacity:1;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

.modal h2 {
    background:url(../../images/EML/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}
.modal p
{
    font-size:1.2em;
    display: block;
    margin:15px 0px 15px 0px;
}
.modal .close
{
    cursor:pointer;
}
/* End Dialog */
li.ui-menu-item:hover
{
    background-color: #F0F0F0;
}
.ui-autocomplete-input.form-field {
    width: 380px;
    border: none;
    background:  #F0F0F0;
    box-shadow: none;
}
.ui-autocomplete-input.form-field + a 
{
    background:  url("../../images/eml/btn-drl.png") no-repeat scroll right center #F0F0F0;
    border: 0 0 none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    width: 20px;
    position: relative;
    display: inline-block;
}
ul.ui-autocomplete {
    border-radius: 2px 2px 2px 2px;
    height: 200px;
    overflow: auto;
    width: 411px;
}
.BoxContent .AutoCompleteForm {
    background: none repeat scroll 0 0 #F0F0F0;
    line-height: 22px;
    width: 411px;
}