IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EML_SIW]') AND type in (N'U'))
BEGIN
	CREATE TABLE [dbo].[EML_SIW](
		[Claim_no] [varchar](20) NULL
	) ON [PRIMARY]
	
	-- INSERT DATA
	INSERT [dbo].[EML_SIW] ([Claim_no]) VALUES (N'107672016')
	INSERT [dbo].[EML_SIW] ([Claim_no]) VALUES (N'108301016')
	INSERT [dbo].[EML_SIW] ([Claim_no]) VALUES (N'112062016')
END
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO