@model EM_Report.Domain.ResetPassword
@{    
    ViewBag.Title = "Reset Password";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_MasterWithoutLogin.cshtml";
}
<div class="wrapper">
    <div class="header">
    	<div class="breadcrum_01">
            <a href="#">Account</a>
            <a href="#" class="current">Reset password</a>
        </div>
    </div>
    <div class="container">
        <div class="w_100p">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="formWrap">
            	    <h1>Reset Password</h1>                
                    <div class="formInline formInlineTxt">
                	    <p>Enter your account information below and click accept.</p>
                    </div>
                    <div class="clear"></div>
                    @Html.Partial("_ShowMessage")
                    <div class="formInline formResetPassword">
                	<label>Username or Email</label>
                    @Html.TextBoxFor(m => m.strUserNameOrEmail, new { id = "txtUserNameOrEmail", @class = "username" })
                    @Html.ValidationMessageFor(m => m.strUserNameOrEmail)
                </div>
                    <div class="clear"></div>
                    <div class="formInline formInlineBtn">
                	    <span class="btnPurple"><input type="button" name="btnAccept" value="Accept"
                            onclick="$('form').submit();" /></span>
                    </div>
                    <div class="clear"></div>
                </div>
            }
        </div>
    </div>
</div>