@using EM_Report.Helpers;
<div class="top">
    <div class="logo"><a href="https://www.employersmutual.com.au/"><img src="@Url.ContentV("~/images/logo_DART.png")" alt="" title="" /></a></div>
    <div class="topLink" style="padding:40px 0 0 25px;">
        <a href="@Base.AbsoluteUrl("~/account/login?logout=true")">Login</a>
    </div>
    <div class="logo_Emp" style="margin:0;"><a href="https://www.employersmutual.com.au/‎"><img src="@Url.ContentV("~/images/logo_EMP_color.png")" alt="" title="" /></a></div>
    <div class="clear"></div>
</div>